fastapi==0.115.0
uvicorn==0.30.0
sqlalchemy==2.0.20
pymysql==1.1.0
alembic==1.13.1
python-jose==3.3.0
passlib[bcrypt]==1.7.4
pydantic==2.11.9
pydantic-settings==2.10.1
python_dotenv==1.1.1
psycopg2-binary==2.9.10
pydantic[email]
python-multipart==0.0.20
